# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
/media/

# Django migration files 
**/migrations/*.pyc
**/migrations/__pycache__/


# Database
*.sqlite3

# Environment variables
.env

# Media & uploads (if applicable)
media/
uploads/

# System files
.DS_Store
Thumbs.db

# IDE specific (optional)
.vscode/
.idea/